.header{
    background-color: rgb(1, 54, 77);
    .header_container {
        max-width: 1200px;
        margin: 0 auto;
        padding-block: 1px;
        display: flex;
        justify-content: space-between;
        .logo {
              max-width: 150px;
              height: auto;
              float: left;
              margin-right: 200px;
            
        }
        .header_title {
            color: rgb(255, 255, 255);
            font-size: 40px;
            margin-right: 60px;
        }
            .navbar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 50px;
                
                .navbar_link {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-size: 20 ;
                }
            }
        }
    }